/* @import url("https://fonts.googleapis.com/css?family=Lato&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  margin: 0;
  padding: 0;
  /* font-family: "Lato", sans-serif; */
  font-family: "Ubuntu", sans-serif;
}

.kix {
  font-weight: 700;
  text-decoration: none;
  color: #4ecca3 !important;
}

.redstar {
  color: red;
}

/* LOADING SPINNER */
.loadspinner {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.nodecor {
  text-decoration: none !important;
}

.homebanner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
}

.productCard {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 100%;
  flex-wrap: wrap;
  /* height: 250px; */
  justify-content: space-around;
}

.productCard > * {
  margin: 1em 0;
}

/* .carrd {
  transition: width 0.9s ease-in-out !important;
} */

.carrd:hover {
  cursor: pointer !important;
  position: relative;
  top: -5px;
}

.bannerCard {
  overflow: hidden;
}

.loginform {
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  width: 100vh;
  height: 100%;
  margin-top: 30vh;
  padding: 40px;
}

.regisform {
  border: 1px solid rgba(0, 0, 0, 0.068);
  border-radius: 5px;
  width: 100vh;
  height: 100%;
  margin-top: 10vh;
  padding: 40px;
}

.btnlogin {
  transition: ease-in 0.2s;
  background-color: #4ecca3;
  border-color: #4ecca3;
}

.btnlogin:focus {
  background-color: #28c08d;
  border-color: #28c08d;
}
.btnlogin:hover {
  background-color: #28c08d;
  border-color: #28c08d;
}

.btnlogin:disabled {
  background-color: grey;
  border-color: grey;
  cursor: no-drop;
}

.foooter {
  margin-bottom: 0;
}

.searchBar {
  width: 30vh;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 13px;
  background-color: white;
  background-image: url("./support/search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.searchBar:focus {
  width: 60vh;
  outline-width: 0;
}

.leftBorderDiv {
  border-left: 1px solid rgba(0, 0, 0, 0.068);
  padding-left: 2px;
  margin-right: 12px;
  margin-left: 15px;
}

/* Profile Page */

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

hr.style1 {
  border-top: 1px solid #8c8b8b;
}

/* GANTI WARNA ARROW CAROUSEL */
.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}
